 <h1 class="mt-5 mb-5">Dashboard</h1>
<p class="lead mb-3">Welcome, <%= name %></p>
<p class="lead mb-5">Your current email address is <%= email %></p>
<p class="mb-3">This page is only viewable when you are logged in.</p>
<a href="/users/logout" class="btn btn-primary">Logout</a>